@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    display: flex;
    padding: 5rem;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.row {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.col-header {
    width: 150px;
    height: 40px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.4);
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 150px;
    height: 70px;
    border: 1px solid white;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.4);
    border-radius: 20px;
    background: #f7f6f7;
    padding: 0.8rem 1rem;
    color: black;
    text-align: center;
    cursor: grab;
}

.item:active {
    cursor: grabbing;
}

.placeholder {
    width: 150px;
    height: 70px;
}

.hold {
    background-color: #8ed7ed;
}

.hide {
    display: none;
}

.hovered {
    border: 2px solid #8ed7ed;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.4);
    border-radius: 20px;
}

.start {
    background: linear-gradient(90deg, #ff95e4 0%, #229efd 100%);
}
.progress {
    background: linear-gradient(90deg, #209cff 0%, #6be0cf 100%);
}
.done {
    background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}
